[submodule "DeepTutor"]
	path = DeepTutor
	url = https://github.com/qdriven/DeepTutor.git
[submodule "OpenMAIC"]
	path = OpenMAIC
	url = https://github.com/qdriven/OpenMAIC.git
[submodule "lazycat-edu-apps"]
	path = lazycat-edu-apps
	url = https://github.com/qdriven/lazycat-edu-apps.git
	branch = main
